@Sitecore.Mvc
@model TestSitecore.web.Models.EventRenderingViewModel
<div>
    <h2>
        @Model.EventName
    </h2>
    <span>
        Date: @Model.EventDate
    </span>
    <p>
        @Model.EventDescription
    </p>
</div>