@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<!DOCTYPE html>
<html>
<head>
    <title>MainLayout</title>

    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <div id="mainlayout">
        <h1>My Main Layout</h1>
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
@*@{
    ViewBag.Title = "MainLayout";
}*@



